<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey <%= @author.first_name %>!</h1>
    <p>
      To complete your Blog sign up, we just need to verify your email address:
    </p>
    <%= confirm_email_author_url(@author.confirm_token) %>
  </body>
</html>
