

<p>Add a public comment</p>

<% if current_author && current_author.banned == false %>
  <%= form_for ([@post, @post.comments.build]), remote:true  do |f|%>

    <p><strong>Text comment:</strong>
      <%= f.text_area(:body, {:class => 'form-control'}) %>
    </p>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <%= f.submit 'Comment', class: 'btn btn-warning' %>
    </div>
  <%end%>

<%else%>

  <% if current_author == nil || current_author.banned == false %>
    <strong>Please login to post a comment!</strong>
  <%else%>
    <strong>Your account is banned!</strong>
  <% end %>
<% end %>
